In [17]:
import glob
import pandas as pd
import datetime


dateparse = lambda x: datetime.datetime.strptime(x, '%Y-%m-%d')

path =r'D:\Data\june_reset_password_dailyfiles'
filenames = glob.glob(path + "/*.csv")

dfs = []
counts_original_df = []
counts_downsizing = []
for filename in filenames:
    dfs.append(pd.read_csv(filename, parse_dates=['just_date'], date_parser=dateparse))
big_frame = pd.concat(dfs, ignore_index=True)
#big_frame[30:60]

In [2]:
big_frame.head()

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date
0,2021-06-01 11:07:01,lindapull@comcast.net,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01
1,2021-06-01 17:06:27,nayelisaucedo04012002@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01
2,2021-06-01 19:55:54,antonina.olma@web.de,news@skidos.com,Willkommen bei Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01
3,2021-06-01 04:19:48,anoushay.hussain@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01
4,2021-06-01 13:41:10,m.atik1_c@yopmail.com,news@skidos.com,Velkommen til Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01

In [18]:
df1 = big_frame.drop(['Date',  'Sender', 'Status', 'Tags', 'Subaccount', 'Opens', 'Clicks', 'Bounce Detail'], axis=1)

In [19]:
df1.head()

                     Email Address                 Subject  just_date
0            lindapull@comcast.net      Welcome to Skidos! 2021-06-01
1  nayelisaucedo04012002@gmail.com      Welcome to Skidos! 2021-06-01
2             antonina.olma@web.de  Willkommen bei Skidos! 2021-06-01
3       anoushay.hussain@gmail.com      Welcome to Skidos! 2021-06-01
4            m.atik1_c@yopmail.com   Velkommen til Skidos! 2021-06-01

In [20]:
df3 = df1.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()

In [21]:
df3.head()

   just_date                   Subject  count
0 2021-06-01      Bem-vindo ao Skidos!     61
1 2021-06-01        Benvenuto a skidos     17
2 2021-06-01        Bienvenue à skidos     29
3 2021-06-01  Forgotten your password?     41
4 2021-06-01            Glemt passord?      2

In [22]:
df3.to_csv('test1.csv', index=False)

In [92]:
group_obj = big_frame.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()

In [94]:
df2 = big_frame.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()

In [23]:
df4 = big_frame.groupby('just_date')["Subject"].unique()
df4.to_csv('subjects_strings.csv', index=False)

In [75]:
big_frame.groupby('just_date')["Subject"].unique()

just_date
2021-06-01    [Welcome to Skidos!, Willkommen bei Skidos!, V...
2021-06-02    [¡Bienvenido/a a SKIDOS!, Welcome to Skidos!, ...
2021-06-03    [Welcome to Skidos!, Bienvenue à skidos, Welco...
2021-06-04    [Forgotten your password?, Welcome to Skidos!,...
2021-06-05    [[Skidos] Please reset your password, Welcome ...
2021-06-06    [Welcome to Skidos!, [Skidos] Please reset you...
2021-06-07    [Welcome to Skidos!, [Skidos] New password, [S...
2021-06-08    [Welcome to Skidos!, ¡Bienvenido/a a SKIDOS!, ...
2021-06-09    [Welcome to Skidos!, Välkommen till Skidos!, V...
2021-06-10    [[Skidos] New password, Welcome to Skidos!, [S...
2021-06-11    [Welcome to Skidos!, ¡Bienvenido/a a SKIDOS!, ...
2021-06-12    [Welcome to Skidos!, [Skidos] New password, ¡B...
2021-06-13    [Welcome to Skidos!, ¡Bienvenido/a a SKIDOS!, ...
2021-06-14    [OTP Skidos, Welcome to Skidos!, [Skidos] Rede...
2021-06-15    [[Skidos] Bitte setzen Sie ihr Passwort zurück...
2021-06-16    [[Skidos] New password, Welcome to Skidos!, Fo...
2021-06-17    [[Skidos] Please reset your password, Welcome ...
2021-06-18    [¡Bienvenido/a a SKIDOS!, Velkommen til Skidos...
2021-06-19    [[Skidos] Please reset your password, Velkomme...
2021-06-20    [Welcome to Skidos!, Velkommen til Skidos!, Be...
2021-06-21    [[Skidos] Please reset your password, Welcome ...
Name: Subject, dtype: object

In [91]:
# z = big_frame['Subject'].value_counts 

# z1 = pd.DataFrame(z)
# # z.to_dict() #converts to dictionary

# big_frame['Count_Column'] = big_frame['Subject'].map(z1)
# big_frame

In [83]:
big_frame['Count_Column'] = big_frame['Subject'].map(big_frame['Subject'].value_counts())

In [84]:
big_frame

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date,Count_Column
0,2021-06-01 11:07:01,lindapull@comcast.net,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,23519
1,2021-06-01 17:06:27,nayelisaucedo04012002@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,23519
2,2021-06-01 19:55:54,antonina.olma@web.de,news@skidos.com,Willkommen bei Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,493
3,2021-06-01 04:19:48,anoushay.hussain@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,23519
4,2021-06-01 13:41:10,m.atik1_c@yopmail.com,news@skidos.com,Velkommen til Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,837
...,...,...,...,...,...,...,...,...,...,...,...,...
37956,2021-06-21 02:42:47,mlramos1283@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,1,0,NaN,2021-06-21,4033
37957,2021-06-21 07:17:14,whale1@yopmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-21,23519
37958,2021-06-21 05:37:05,traciegoodey@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-21,23519
37959,2021-06-21 01:50:46,buckeyes43891@yahoo.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-21,23519
37960,2021-06-21 05:25:50,poissonenlair@gmail.com,news@skidos.com,Bienvenue à skidos,sent,NaN,skidos_production,1,0,NaN,2021-06-21,848

In [78]:
big_frame['Counts_Subj'] = big_frame.groupby(['just_date'])['Subject'].transform('count')

# selection = ['Please reset your password']

# mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
# df1 = big_frame[mask]
# #df1.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()
# #df1.shape
# df1.head()
big_frame[['Counts_Subj', 'just_date', 'Subject']]

       Counts_Subj  just_date                              Subject
0             1658 2021-06-01                   Welcome to Skidos!
1             1658 2021-06-01                   Welcome to Skidos!
2             1658 2021-06-01               Willkommen bei Skidos!
3             1658 2021-06-01                   Welcome to Skidos!
4             1658 2021-06-01                Velkommen til Skidos!
...            ...        ...                                  ...
37956          737 2021-06-21  [Skidos] Please reset your password
37957          737 2021-06-21                   Welcome to Skidos!
37958          737 2021-06-21                   Welcome to Skidos!
37959          737 2021-06-21                   Welcome to Skidos!
37960          737 2021-06-21                   Bienvenue à skidos

[37961 rows x 3 columns]

In [71]:
big_frame['Counts'] = big_frame.groupby(['just_date'])['Subject'].transform('count')

selection = ['Please reset your password']

mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
df1 = big_frame[mask]
#df1.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()
df1.shape
df1.head()

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date,Counts
6,2021-06-01 14:37:37,brendarochellewilkie14@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01,1658
9,2021-06-01 22:39:58,ucools@msn.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01,1658
35,2021-06-01 00:47:56,jennivicente@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01,1658
53,2021-06-01 20:06:46,allison.killam@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,3,1,NaN,2021-06-01,1658
65,2021-06-01 11:43:09,sdk.ll@yopmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01,1658

In [61]:
big_frame['Counts'] = big_frame.groupby(['Subject'])['just_date'].transform('count')

#big_frame['Counts_per_Subject'] = big_frame.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()
selection = ['Please reset your password']

mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
df1 = big_frame[mask]
df1.shape
df1.head()

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date,Counts
6,2021-06-01 14:37:37,brendarochellewilkie14@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01,4033
9,2021-06-01 22:39:58,ucools@msn.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01,4033
35,2021-06-01 00:47:56,jennivicente@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01,4033
53,2021-06-01 20:06:46,allison.killam@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,3,1,NaN,2021-06-01,4033
65,2021-06-01 11:43:09,sdk.ll@yopmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01,4033

In [82]:
big_frame['Counts'] = big_frame.groupby(['Subject'])['just_date'].size().transform('count')
big_frame.head()

ValueError: Function did not transform

In [56]:
big_frame[['just_date', 'Subject']].value_counts().sort_index()

just_date   Subject
2021-06-01  Bem-vindo ao Skidos!                   61
            Benvenuto a skidos                     17
            Bienvenue à skidos                     29
            Forgotten your password?               41
            Glemt passord?                          2
                                                   ..
2021-06-21  Willkommen bei Skidos!                  5
            [Skidos] New password                  52
            [Skidos] Please reset your password    91
            [Skidos] Redefina sua senha             2
            ¡Bienvenido/a a SKIDOS!                12
Length: 447, dtype: int64

In [46]:
selection = ['Please reset your password']

mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
df1 = big_frame[mask]
df1

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date
6,2021-06-01 14:37:37,brendarochellewilkie14@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01
9,2021-06-01 22:39:58,ucools@msn.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01
35,2021-06-01 00:47:56,jennivicente@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01
53,2021-06-01 20:06:46,allison.killam@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,3,1,NaN,2021-06-01
65,2021-06-01 11:43:09,sdk.ll@yopmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01
...,...,...,...,...,...,...,...,...,...,...,...
37916,2021-06-21 01:23:53,a.faris87@hotmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21
37932,2021-06-21 01:24:54,a.faris87@hotmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-21
37946,2021-06-21 06:37:50,harrisonwhiteley@aol.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21
37955,2021-06-21 07:43:08,Johnsonromeo381@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21
37956,2021-06-21 02:42:47,mlramos1283@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,1,0,NaN,2021-06-21

In [53]:
df1[['just_date', 'Subject', 'Counts']].value_counts().sort_index()

just_date   Subject                              Counts
2021-06-01  [Skidos] Please reset your password  4033      175
2021-06-02  [Skidos] Please reset your password  4033      128
2021-06-03  [Skidos] Please reset your password  4033      123
2021-06-04  [Skidos] Please reset your password  4033      127
2021-06-05  [Skidos] Please reset your password  4033      134
2021-06-06  [Skidos] Please reset your password  4033      170
2021-06-07  [Skidos] Please reset your password  4033      121
2021-06-08  [Skidos] Please reset your password  4033      117
2021-06-09  [Skidos] Please reset your password  4033      123
2021-06-10  [Skidos] Please reset your password  4033      118
2021-06-11  [Skidos] Please reset your password  4033      223
2021-06-12  [Skidos] Please reset your password  4033      236
2021-06-13  [Skidos] Please reset your password  4033      307
2021-06-14  [Skidos] Please reset your password  4033      282
2021-06-15  [Skidos] Please reset your password  4033      242
2021-06-16  [Skidos] Please reset your password  4033      206
2021-06-17  [Skidos] Please reset your password  4033      300
2021-06-18  [Skidos] Please reset your password  4033      224
2021-06-19  [Skidos] Please reset your password  4033      272
2021-06-20  [Skidos] Please reset your password  4033      314
2021-06-21  [Skidos] Please reset your password  4033       91
dtype: int64

In [48]:
df1['Counts'] = df1.groupby(['Subject'])['just_date'].transform('count')

<ipython-input-48-c2b70e3ec1d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Counts'] = df1.groupby(['Subject'])['just_date'].transform('count')

In [49]:
df1[['just_date', 'Subject', 'Counts']].value_counts().sort_index()

just_date   Subject                              Counts
2021-06-01  [Skidos] Please reset your password  4033      175
2021-06-02  [Skidos] Please reset your password  4033      128
2021-06-03  [Skidos] Please reset your password  4033      123
2021-06-04  [Skidos] Please reset your password  4033      127
2021-06-05  [Skidos] Please reset your password  4033      134
2021-06-06  [Skidos] Please reset your password  4033      170
2021-06-07  [Skidos] Please reset your password  4033      121
2021-06-08  [Skidos] Please reset your password  4033      117
2021-06-09  [Skidos] Please reset your password  4033      123
2021-06-10  [Skidos] Please reset your password  4033      118
2021-06-11  [Skidos] Please reset your password  4033      223
2021-06-12  [Skidos] Please reset your password  4033      236
2021-06-13  [Skidos] Please reset your password  4033      307
2021-06-14  [Skidos] Please reset your password  4033      282
2021-06-15  [Skidos] Please reset your password  4033      242
2021-06-16  [Skidos] Please reset your password  4033      206
2021-06-17  [Skidos] Please reset your password  4033      300
2021-06-18  [Skidos] Please reset your password  4033      224
2021-06-19  [Skidos] Please reset your password  4033      272
2021-06-20  [Skidos] Please reset your password  4033      314
2021-06-21  [Skidos] Please reset your password  4033       91
dtype: int64

In [95]:
df2 = df1.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()

In [96]:
df2

    just_date                              Subject  count
0  2021-06-01  [Skidos] Please reset your password    175
1  2021-06-02  [Skidos] Please reset your password    128
2  2021-06-03  [Skidos] Please reset your password    123
3  2021-06-04  [Skidos] Please reset your password    127
4  2021-06-05  [Skidos] Please reset your password    134
5  2021-06-06  [Skidos] Please reset your password    170
6  2021-06-07  [Skidos] Please reset your password    121
7  2021-06-08  [Skidos] Please reset your password    117
8  2021-06-09  [Skidos] Please reset your password    123
9  2021-06-10  [Skidos] Please reset your password    118
10 2021-06-11  [Skidos] Please reset your password    223
11 2021-06-12  [Skidos] Please reset your password    236
12 2021-06-13  [Skidos] Please reset your password    307
13 2021-06-14  [Skidos] Please reset your password    282
14 2021-06-15  [Skidos] Please reset your password    242
15 2021-06-16  [Skidos] Please reset your password    206
16 2021-06-17  [Skidos] Please reset your password    300
17 2021-06-18  [Skidos] Please reset your password    224
18 2021-06-19  [Skidos] Please reset your password    272
19 2021-06-20  [Skidos] Please reset your password    314
20 2021-06-21  [Skidos] Please reset your password     91

In [42]:
big_frame

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date,Counts
0,2021-06-01 11:07:01,lindapull@comcast.net,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,23519
1,2021-06-01 17:06:27,nayelisaucedo04012002@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,23519
2,2021-06-01 19:55:54,antonina.olma@web.de,news@skidos.com,Willkommen bei Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,493
3,2021-06-01 04:19:48,anoushay.hussain@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,23519
4,2021-06-01 13:41:10,m.atik1_c@yopmail.com,news@skidos.com,Velkommen til Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01,837
...,...,...,...,...,...,...,...,...,...,...,...,...
37956,2021-06-21 02:42:47,mlramos1283@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,1,0,NaN,2021-06-21,4033
37957,2021-06-21 07:17:14,whale1@yopmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-21,23519
37958,2021-06-21 05:37:05,traciegoodey@gmail.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-21,23519
37959,2021-06-21 01:50:46,buckeyes43891@yahoo.com,news@skidos.com,Welcome to Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-21,23519
37960,2021-06-21 05:25:50,poissonenlair@gmail.com,news@skidos.com,Bienvenue à skidos,sent,NaN,skidos_production,1,0,NaN,2021-06-21,848

In [44]:
df1[['just_date', 'Subject', 'Counts']].value_counts().sort_index()

just_date   Subject                              Counts
2021-06-01  Glemt passord?                       72          2
            [Skidos] Please reset your password  4033      175
2021-06-02  [Skidos] Please reset your password  4033      128
2021-06-03  Glemt passord?                       72          5
            [Skidos] Please reset your password  4033      123
2021-06-04  [Skidos] Please reset your password  4033      127
2021-06-05  [Skidos] Please reset your password  4033      134
2021-06-06  Glemt passord?                       72          9
            [Skidos] Please reset your password  4033      170
2021-06-07  Glemt passord?                       72          5
            [Skidos] Please reset your password  4033      121
2021-06-08  Glemt passord?                       72          2
            [Skidos] Please reset your password  4033      117
2021-06-09  [Skidos] Please reset your password  4033      123
2021-06-10  Glemt passord?                       72          3
            [Skidos] Please reset your password  4033      118
2021-06-11  Glemt passord?                       72          5
            [Skidos] Please reset your password  4033      223
2021-06-12  Glemt passord?                       72          2
            [Skidos] Please reset your password  4033      236
2021-06-13  Glemt passord?                       72          3
            [Skidos] Please reset your password  4033      307
2021-06-14  Glemt passord?                       72          4
            [Skidos] Please reset your password  4033      282
2021-06-15  Glemt passord?                       72          4
            [Skidos] Please reset your password  4033      242
2021-06-16  Glemt passord?                       72          6
            [Skidos] Please reset your password  4033      206
2021-06-17  Glemt passord?                       72          2
            [Skidos] Please reset your password  4033      300
2021-06-18  Glemt passord?                       72          3
            [Skidos] Please reset your password  4033      224
2021-06-19  Glemt passord?                       72          6
            [Skidos] Please reset your password  4033      272
2021-06-20  Glemt passord?                       72          9
            [Skidos] Please reset your password  4033      314
2021-06-21  Glemt passord?                       72          2
            [Skidos] Please reset your password  4033       91
dtype: int64

In [43]:
selection = ['Please reset your password']

mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
df1 = big_frame[mask]
df1

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date,Counts
6,2021-06-01 14:37:37,brendarochellewilkie14@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01,4033
9,2021-06-01 22:39:58,ucools@msn.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01,4033
35,2021-06-01 00:47:56,jennivicente@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01,4033
53,2021-06-01 20:06:46,allison.killam@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,3,1,NaN,2021-06-01,4033
65,2021-06-01 11:43:09,sdk.ll@yopmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01,4033
...,...,...,...,...,...,...,...,...,...,...,...,...
37916,2021-06-21 01:23:53,a.faris87@hotmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21,4033
37932,2021-06-21 01:24:54,a.faris87@hotmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-21,4033
37946,2021-06-21 06:37:50,harrisonwhiteley@aol.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21,4033
37955,2021-06-21 07:43:08,Johnsonromeo381@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21,4033
37956,2021-06-21 02:42:47,mlramos1283@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,1,0,NaN,2021-06-21,4033

In [ ]:
big_frame['count'] = big_frame.groupby('group')['group'].transform('count')
big_frame

In [36]:
big_frame.groupby( [ "just_date", "Subject"] ).size().to_frame(name = 'count').reset_index()

     just_date                              Subject  count
0   2021-06-01                 Bem-vindo ao Skidos!     61
1   2021-06-01                   Benvenuto a skidos     17
2   2021-06-01                   Bienvenue à skidos     29
3   2021-06-01             Forgotten your password?     41
4   2021-06-01                       Glemt passord?      2
..         ...                                  ...    ...
442 2021-06-21               Willkommen bei Skidos!      5
443 2021-06-21                [Skidos] New password     52
444 2021-06-21  [Skidos] Please reset your password     91
445 2021-06-21          [Skidos] Redefina sua senha      2
446 2021-06-21              ¡Bienvenido/a a SKIDOS!     12

[447 rows x 3 columns]

In [39]:
selection = ['Please reset your password', 'Glemt passord?' ]

mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
df1 = big_frame[mask]
df1.shape

(4105, 11)

In [40]:
df1

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date
6,2021-06-01 14:37:37,brendarochellewilkie14@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01
9,2021-06-01 22:39:58,ucools@msn.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01
35,2021-06-01 00:47:56,jennivicente@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01
53,2021-06-01 20:06:46,allison.killam@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,3,1,NaN,2021-06-01
65,2021-06-01 11:43:09,sdk.ll@yopmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01
...,...,...,...,...,...,...,...,...,...,...,...
37916,2021-06-21 01:23:53,a.faris87@hotmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21
37932,2021-06-21 01:24:54,a.faris87@hotmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-21
37946,2021-06-21 06:37:50,harrisonwhiteley@aol.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21
37955,2021-06-21 07:43:08,Johnsonromeo381@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-21
37956,2021-06-21 02:42:47,mlramos1283@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,1,0,NaN,2021-06-21

In [38]:
#its producing the whole dataframe not the above 
big_frame.to_csv('daily_subject_counts.csv', index=False)

In [28]:
big_frame[['just_date', 'Subject']].value_counts().sort_index()

just_date   Subject
2021-06-01  Bem-vindo ao Skidos!                   61
            Benvenuto a skidos                     17
            Bienvenue à skidos                     29
            Forgotten your password?               41
            Glemt passord?                          2
                                                   ..
2021-06-21  Willkommen bei Skidos!                  5
            [Skidos] New password                  52
            [Skidos] Please reset your password    91
            [Skidos] Redefina sua senha             2
            ¡Bienvenido/a a SKIDOS!                12
Length: 447, dtype: int64

In [34]:
selection = ['Please reset your password', 'Vær venlig nulstil dit adgangskode', 'Bem-vindo ao Skidos!', 'Glemt passord?' ]

mask = big_frame.Subject.apply(lambda x: any(item for item in selection if item in x))
df1 = big_frame[mask]
df1.head()

,Date,Email Address,Sender,Subject,Status,Tags,Subaccount,Opens,Clicks,Bounce Detail,just_date
6,2021-06-01 14:37:37,brendarochellewilkie14@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01
9,2021-06-01 22:39:58,ucools@msn.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,0,0,NaN,2021-06-01
13,2021-06-01 16:39:40,lucienebbperminio@hotmail.com,news@skidos.com,Bem-vindo ao Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01
30,2021-06-01 23:16:01,thomazguilherme365@gmail.com,news@skidos.com,Bem-vindo ao Skidos!,sent,NaN,skidos_production,0,0,NaN,2021-06-01
35,2021-06-01 00:47:56,jennivicente@gmail.com,news@skidos.com,[Skidos] Please reset your password,sent,NaN,skidos_production,2,1,NaN,2021-06-01

In [35]:
df1[['just_date', 'Subject']].value_counts().sort_index()

just_date   Subject
2021-06-01  Bem-vindo ao Skidos!                    61
            Glemt passord?                           2
            [Skidos] Please reset your password    175
2021-06-02  Bem-vindo ao Skidos!                    72
            [Skidos] Please reset your password    128
2021-06-03  Bem-vindo ao Skidos!                    99
            Glemt passord?                           5
            [Skidos] Please reset your password    123
2021-06-04  Bem-vindo ao Skidos!                   102
            [Skidos] Please reset your password    127
2021-06-05  Bem-vindo ao Skidos!                    77
            [Skidos] Please reset your password    134
2021-06-06  Bem-vindo ao Skidos!                    85
            Glemt passord?                           9
            [Skidos] Please reset your password    170
2021-06-07  Bem-vindo ao Skidos!                    73
            Glemt passord?                           5
            [Skidos] Please reset your password    121
2021-06-08  Bem-vindo ao Skidos!                    49
            Glemt passord?                           2
            [Skidos] Please reset your password    117
2021-06-09  Bem-vindo ao Skidos!                    55
            [Skidos] Please reset your password    123
2021-06-10  Bem-vindo ao Skidos!                    49
            Glemt passord?                           3
            [Skidos] Please reset your password    118
2021-06-11  Bem-vindo ao Skidos!                    71
            Glemt passord?                           5
            [Skidos] Please reset your password    223
2021-06-12  Bem-vindo ao Skidos!                    67
            Glemt passord?                           2
            [Skidos] Please reset your password    236
2021-06-13  Bem-vindo ao Skidos!                    97
            Glemt passord?                           3
            [Skidos] Please reset your password    307
2021-06-14  Bem-vindo ao Skidos!                    61
            Glemt passord?                           4
            [Skidos] Please reset your password    282
2021-06-15  Bem-vindo ao Skidos!                    60
            Glemt passord?                           4
            [Skidos] Please reset your password    242
2021-06-16  Bem-vindo ao Skidos!                    70
            Glemt passord?                           6
            [Skidos] Please reset your password    206
2021-06-17  Bem-vindo ao Skidos!                    69
            Glemt passord?                           2
            [Skidos] Please reset your password    300
2021-06-18  Bem-vindo ao Skidos!                    56
            Glemt passord?                           3
            [Skidos] Please reset your password    224
2021-06-19  Bem-vindo ao Skidos!                   109
            Glemt passord?                           6
            [Skidos] Please reset your password    272
2021-06-20  Bem-vindo ao Skidos!                    91
            Glemt passord?                           9
            [Skidos] Please reset your password    314
2021-06-21  Bem-vindo ao Skidos!                    33
            Glemt passord?                           2
            [Skidos] Please reset your password     91
dtype: int64

In [7]:
#big_frame.set_index('just_date', inplace=True)

In [15]:
big_frame[['just_date', 'Subject']].value_counts().sort_index()

just_date   Subject
2021-06-01  Bem-vindo ao Skidos!                   61
            Benvenuto a skidos                     17
            Bienvenue à skidos                     29
            Forgotten your password?               41
            Glemt passord?                          2
                                                   ..
2021-06-21  Willkommen bei Skidos!                  5
            [Skidos] New password                  52
            [Skidos] Please reset your password    91
            [Skidos] Redefina sua senha             2
            ¡Bienvenido/a a SKIDOS!                12
Length: 447, dtype: int64

In [21]:
#big_frame.groupby(pd.Grouper(key='just_date',freq='D')).sum()

In [16]:
big_frame= big_frame.loc[big_frame["Subject"].str.contains('reset your password')]

In [17]:
big_frame[['just_date', 'Subject']].value_counts().sort_index()

just_date   Subject
2021-06-01  [Skidos] Please reset your password    175
2021-06-02  [Skidos] Please reset your password    128
2021-06-03  [Skidos] Please reset your password    123
2021-06-04  [Skidos] Please reset your password    127
2021-06-05  [Skidos] Please reset your password    134
2021-06-06  [Skidos] Please reset your password    170
2021-06-07  [Skidos] Please reset your password    121
2021-06-08  [Skidos] Please reset your password    117
2021-06-09  [Skidos] Please reset your password    123
2021-06-10  [Skidos] Please reset your password    118
2021-06-11  [Skidos] Please reset your password    223
2021-06-12  [Skidos] Please reset your password    236
2021-06-13  [Skidos] Please reset your password    307
2021-06-14  [Skidos] Please reset your password    282
2021-06-15  [Skidos] Please reset your password    242
2021-06-16  [Skidos] Please reset your password    206
2021-06-17  [Skidos] Please reset your password    300
2021-06-18  [Skidos] Please reset your password    224
2021-06-19  [Skidos] Please reset your password    272
2021-06-20  [Skidos] Please reset your password    314
2021-06-21  [Skidos] Please reset your password     91
dtype: int64

In [22]:
big_frame.groupby('just_date')["Subject"].unique().sum()

array(['[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password[Skidos] Please reset your password'],
      dtype=object)

In [20]:
big_frame['Count']= big_frame[["Subjects","just_date"]].value_counts().sort_index()

KeyError: "['Subjects'] not in index"

In [ ]:
selection = ['Please reset your password', 'Vær venlig nulstil dit adgangskode', ]

mask = df.species.apply(lambda x: any(item for item in selection if item in x))
df1 = df[mask]
df1.head()

In [ ]:
counts_subjects = df.groupby('just_date')["Subject"].sum().rename("Different_Subjects").reset_index()
df_1 = df.merge(counts_subjects)